.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aquamarine;
  font-family: cursive;
}
.Heading{
  text-transform: capitalize;
  font-size: 40px;
  color: aliceblue;
  z-index: 1;
  text-align: center;
  margin: 30px 0;
}
